{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    <h2>
        Filter Stories by Author
    </h2>
    <form action="" method="GET">
        <p>Select Author:
            <input name="author" type="text" list="author_list" placeholder="Select Author" autocomplete="off">
            <datalist id="author_list">
                <select name="Author">
                    {% for author in author_list %}
                        <option value="{{ author.username }}"></option>
                    {% endfor %}
                </select>
            </datalist>
            <input type="submit" value="Search">
        </p>
    </form>

    <ul>
    {% if request.GET.author %}
        <h2><a href="{% url 'users:profile' request.GET.author %}">{{ request.GET.author|capfirst }}'s Stories</a></h2> 
        {% if author_stories %}
            {% for story in author_stories %}
            <li><a href="{% url 'news:story' story.id %}">{{ story.title }}</a><em>{{ story.pub_date| date:"M d Y" }}</em></li>
            {% endfor %}
        {% else %}
            <p>There are no stories by this author</p>           
        {% endif %}
    {% else %}
        <h2>All Stories</h2>
        <em>Select an author to filter stories</em>
        {% for story in all_stories %}
            <li><a href="{% url 'news:story' story.id %}">{{ story.title }}</a><em>by {{ story.author.username|capfirst }}, {{ story.pub_date| date:"M d Y" }}</em></li>
        {% endfor %}        
    {% endif %}        
    </ul>

{% endblock %}