{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
    {% if request.user == story.author %}
<div class="form">
    <form action="" method="post">
    
        
    </form>
</div>
    {% else %}
    <h2>Only the author of this story can make changes.</h2> 
    <a href="{% url 'login' %}">Log in here!</a>
    {% endif %}
{% endif %}
{% endblock %}