{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<h2>Edit Your Story</h2>
{% if request.user.is_authenticated %}
    <div class="form">
        <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>
            Update Story
        </button>
        </form>
    </div>
{% else %}
<h2>Only the author of this story can make changes.</h2> 
<a href="{% url 'login' %}">Log in here!</a>
{% endif %}
{% endblock %}